@import url("https://fonts.googleapis.com/css?family=Roboto:700,900");

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	align-items: center;
	background-color: #282c34;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	min-height: 100vh;
}

.App-link {
	color: #61dafb;
}
.normal-container {
	/*position: absolute;*/
	/*height: 50%;*/
	right: 175px;
	position: relative;
	width: 39%;
	scale: 0.5;
}
.header-real{
	margin-left: 155px;
}
.header h1{
	margin-left: 20px;
}
.smile-rating-container {
	position: relative;
	height: 10%;
	min-width: 220px;
	max-width: 520px;
	margin: auto;
	font-family: "Roboto", sans-serif;
	top: 20%;
}

.submit-rating {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rating-label {
	position: relative;
	font-size: 1.6em;
	text-align: center;
	flex: 0.34;
	z-index: 3;
	font-weight: bold;
	cursor: pointer;
	color: #d0cccd;
	transition: 500ms;
}

.rating-label:hover, .rating-label:active {
	color: #d0cccd;
}

.rating-label-on {
	left: -68px;
	text-align: right;
}

.rating-label-off {
	left: 68px;
	text-align: left;
	color: #222;
}

.smile-rating-container input {
	display: none;
}

.toggle-rating-pill {
	position: relative;
	height: 65px;
	width: 165px;
	background: #d0cccd;
	border-radius: 500px;
	transition: all 500ms;
}

.smile-rating-toggle {
	position: absolute;
	width: 54px;
	height: 54px;
	background-color: white;
	left: 182px;
	border-radius: 500px;
	transition: all 500ms;
	z-index: 4;
}

.rating-eye {
	position: absolute;
	height: 12px;
	width: 8px;
	top: 22px;
	background: #d0cccd;
	border-radius: 500px;
	z-index: 5;
	transition: all 440ms;
	-webkit-animation: blink-eye 3s infinite;
	animation: blink-eye 3s infinite;
}

@-webkit-keyframes blink-eye {
	0% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	20% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	40% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	60% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	80% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	90% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	95% {
		height: 2px;
		width: 8px;
		top: 30px;
	}
	100% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
}

@keyframes blink-eye {
	0% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	20% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	40% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	60% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	80% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	90% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	95% {
		height: 2px;
		width: 8px;
		top: 30px;
	}
	100% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
}
.rating-eye-left {
	left: 192px;
}

.rating-eye-right {
	left: 216px;
}

.mouth {
	position: absolute;
	width: 28px;
	height: 20px;
	z-index: 6;
	border: 4px solid #d0cccd;
	border-radius: 10%;
	border-bottom-color: rgba(1, 1, 1, 0);
	border-right-color: rgba(1, 1, 1, 0);
	border-left-color: rgba(1, 1, 1, 0);
	top: 42px;
	left: 190px;
	transition: all 500ms;
}

/*
Toggle Changes
*/
#off:checked ~ .rating-label-off {
	color: #555e63;
}

#on:checked ~ .rating-label-off {
	color: #d0cccd;
}

#on:checked ~ .mouth {
	border: 4px solid #00b9ee;
	border-bottom-color: rgba(1, 1, 1, 0);
	border-right-color: rgba(1, 1, 1, 0);
	border-left-color: rgba(1, 1, 1, 0);
	top: 23px;
	left: 291px;
	transform: rotateX(180deg);
	border-radius: 100%;
}

#on:checked ~ .rating-label-on {
	color: #555e63;
}

#on:checked ~ .smile-rating-toggle {
	left: 282px;
}

#on:checked ~ .rating-eye-left {
	left: 292px;
}

#on:checked ~ .rating-eye-right {
	left: 316px;
}

#on:checked ~ .toggle-rating-pill {
	background-color: #00b9ee;
}

#on:checked ~ .rating-eye {
	background-color: #00b9ee;
}

